body {
    margin: 0 auto;
    padding: 24px;
    font-size: 18px;
    font-family: 'Work Sans', sans-serif;    
    color: #002213;
    background: radial-gradient(50% 50% at 50% 50%, #F4FFEF 0%, #F0FFE9 100%);    
    p {
        margin: 0;
        color: #2f3f38;
    }
    a {
        color: #00160C;
    }
    img {
        width: 100%;
    }
    iframe {
        width: 100%;
        height: 200px;
        margin: 24px auto;
    }
    header {
        div {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: center;
            div {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                align-content: flex-start;
                h1 {
                    padding: 0;
                    margin: 0;
                    font-size: 1.75em;
                    width: max-content;
                    justify-self: start;
                    a {
                        color: #00160C;
                        text-decoration: none;
                    }
                }
                p {
                    margin: .25em 0px;
                    font-size: .7em;
                }
            }
        }
        svg {
            margin: 0;
            padding: 0;
            path {
                fill: #002515;
            }
        }
        nav {
            position: fixed;
            right: 0;
            top: 0;
            background: #F9FFF6;
            height: 100vh;
            width: 50%;
            z-index: 99;
            transform: translateX(100%);
            transition: transform .5s ease-in-out;
            ul {
                list-style-type: none;
                padding: 0;
                margin-top: 8em;
        
                a {
                    color: black;
                    padding: .75em 2em;
                    display: block;
                    width: 100%;
                    text-decoration: none;
                    &:hover {
                        background: rgb(235, 235, 235);
                    }
                }
            }   
            .close {
                display: block;
                float: right;
                margin: 2em;
                width: 2.5em;
            }
        }
    }
    h1 {
        margin-bottom: 12px;
    }
    section {
        h1 {
            font-size: 2em;
        }
        h2 {
            font-weight: 600;
        }
    }
    section.hero {
        padding: 2em 0;
        animation: moveDown 1s ease-in-out forwards;
        opacity: 0;
        h1 {
            font-size: 30px;
        }
        p {
            font-size:2.5em;
            font-weight: 500;
            color: #00160C;
            span {
                text-decoration: underline;
                font-weight: 700;
            }
        }
        svg {
            display: block;
            margin: 1.5em auto;
            animation: moveArrow 1s alternate-reverse infinite;
        }
    }
    section.bio {
        img {
            width: 100%;
            border-radius: 18px;
        }        
    }
    section.project-hero {
        padding: 4em 0;

        .sub-title {
            padding-top: 0;
            font-size: 1.25em;
        }
        .hero-img {
            width: 18.5em;
            margin: 0 auto;
            border-radius: .5em;
        }
        h1.title {
            padding-top: 0;
            margin-top: .5em;
            font-size: 3em;
            font-weight: 800;
        }
        h2 {
            font-size: 2.5em;
            margin-bottom: .5em;
        }
        hr {
            margin: 3em;
            height: 2px;
            color: #00160C;
        }
    }
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

footer {
    padding-top: 3em;
    h1 {
        font-size: 1em;
    }
    span:hover {
        cursor: pointer;
    }
    ul {
        display: flex;
        flex-direction: row;
        padding: 0;
        padding-top: 12px;
        list-style: none;
        flex-wrap: wrap;
        justify-content: center;
        li {
            margin: 0 1em;
        }
    }
}

// Component Specific

.xp-studio-what {
    margin-top: 2em;
    padding: .5em;
    padding-bottom: 0;
    border-radius: 10px;
    background: #acddac;
    justify-content: space-between;
    .xp-inter {
        display: block;
        flex-direction: column;
    }
    div {
        padding-bottom: 1em;
    }
    span {
        padding: 0;
    }
    h1 {
        font-size: .8em;
    }
}

.closed {
    display: none;
}

.column {
    padding: 1em;
}

span.material-icons {
    margin-left: 6px;
    padding: 9px;
    border-radius: 24px;
    transition: .25s;
}

span.material-icons:hover {
    background-color: #b2d6bd;
    
}

.open-nav {
    transform: translateX(0);
}



@media (max-width: 1180px) {
    body {
        font-size: 1.5em;
    }
    .hero-img {
        width: 100%;
    }
}

@media (min-width: 600px) {
    body {
        font-size: 34px;
    }
    // .row {
    //     display: grid;
    //     max-width: 850px;
    //     grid-template-columns: 380px 380px;
    //     grid-gap: 3em;
    //     margin: 0 auto;
    //     align-items: flex-start;
    //     grid-gap: 20px;
    //     justify-content: start;
    //     align-content: stretch;
    }
    section.hero {
       h1 {
           font-size: 4em;
       }
       p {
           font-size: 8em;
       }
    }
    .col {
        width: 100%;
    }
}


@keyframes moveArrow {
    from {
        transform: translateY(30px);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes moveDown {
    from {
        transform: translateY(-100px);
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}