/* -------------------------- */

/* global styles */

/* -------------------------- */
* {
	box-sizing: border-box;
}

/* For WebKit browsers (e.g., Chrome, Safari) */
::-webkit-scrollbar {
	width: 10px; /* Adjust the width as needed */
	background-color: rgba(0, 0, 0, 0); /* Background color of the scrollbar */
}

::-webkit-scrollbar-thumb {
	background-color: rgba(255, 255, 255, 0.5); /* Color of the scrollbar thumb */
}

/* For Firefox */
scrollbar-width: thin;
scrollbar-color: #888 rgba(0, 0, 0, 0.1); /* Color of the scrollbar thumb and track */

h1 {
	font-size: 2.5em;
}
h2 {
	font-size: 1.842em;
}
h3 {
	font-size: 1.3572em;
}
h4 {
	font-size: 1.1em;
}
small {
	font-size: 0.7368em;
}

h1,
h2,
h3,
h4 {
	font-family: "Poppins";
	font-weight: 600;
}

html {
	font-family: "IBM Plex Sans";
	background-color: #eee;

	background-color: #8ec5fc;
	background-image: linear-gradient(62deg, #bdddfc 0%, #cebdde 100%);
	background-size: 200% 200%;
	animation: gradientAnimation 30s ease-in-out infinite;
}

body {
	display: flex;
	align-items: center;
	overflow-x: hidden;
	margin: 0;
}

/* ------------------------ */

/* HEADER */

/* ------------------------ */

header {
	width: 20vw;
	min-width: 20em;
	overflow-y: auto;
	height: 100vh;
	padding: 1.75em 2.25em;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	transition: opacity 0.5s ease-in-out;
	background-color: rgba(255, 255, 255, 0.45);
	transition: background-color 0.15s ease-in-out;
	backdrop-filter: blur(10px);
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}

header:hover {
	background-color: rgba(255, 255, 255, 0.55);
}

header h1 {
	line-height: 1;
	margin-bottom: 0.25em;
	text-align: center;
}

header a + p {
	margin-top: 0.25em;
}

header p {
	text-align: center;
}

header a {
	text-decoration: none;
	color: black;
}

header img {
	width: 100%;
	height: auto;
}
/* pages / nav */
header nav {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 1em 0 2em 0;
}

nav ul {
	width: 80%;
	list-style-type: none;
	justify-content: center;
	padding: 0;
}

nav ul li {
	margin: 0 auto;
}

nav ul li a {
	font-size: 1.2em;
	list-style-type: none;
	text-decoration: none;
	color: black;
	margin: 0 auto;
}

#profile {
	max-width: 15em; /* adjust this value as needed */
	height: auto;
	margin: 0 auto;
}

.contact-icons {
	display: flex;
	justify-content: center;
	width: 100%;
	margin-top: 1.75em;
}

.contact-icons svg {
	margin: 0 1em;
}
/* ---------------------------- */

/* MAIN styles */

/* ---------------------------- */
main {
	display: flex;
	flex-direction: column;
	overflow-y: auto;
	width: 100%;
	height: 100vh;
	overflow-wrap: break-word;
}

main.home {
	flex-direction: row;
}

main section.page-view {
	max-width: 1224px;
	margin: 4em auto;
	/* margin: 5em 1em 0 1em;
	margin-top: 5em;
	margin-right: 1em; */
	background-color: rgba(255, 255, 255, 0.65);
	transition: background-color 0.3s ease;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
	padding: 2.2em 2.75em;
	border-radius: 1em;
}

main:hover section.page-view {
	background-color: rgba(255, 255, 255, 0.75);
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.35);
}

main div.modular-flex {
	display: flex;
	flex-direction: column;
    margin: 1em;
	flex-wrap: wrap;
	width: 100%;
	align-content: flex-start;
}

main div.module {
	display: block;
	width: 30em;
	/* min-width: 25vw;
	max-width: 30vw; */
    border-radius: 1em;
}

main div.glass {
	padding: 2em;
	margin: 1em;
	background-color: rgba(244, 188, 255, 0.15);
	transition: background-color 0.3s ease;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}

div.glass:hover {
	background-color: rgba(255, 255, 255, 0.75);
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.35);
}

main h1,
h2,
h3,
h4 {
	margin-top: 0;
}

div.img-display {
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	background-color: rgba(255, 255, 255, 0.9);
	padding: 1.1em;

	border-radius: 12px;
	flex-wrap: wrap;
}

div.img-display img {
	width: auto;
	max-width: 45vw;
	max-height: 50vh;
	margin: 10px;
}

main ul li p {
	margin: 0.5em 0;
}

main h1.title {
	margin: 0 0 0.5em 0;
	font-size: 3.052rem;
}

footer p {
	margin: 0em;
}

.parent {
	display: block; /* Initially hide the parent */
}

.parent.show {
	display: block;
}

#full-view {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, 0.7);
	z-index: 9999;
	align-items: center;
	justify-content: center;
}
#full-view img {
	max-width: 90%;
	max-height: 90%;
}
#close-button {
	position: absolute;
	top: 20px;
	right: 20px;
	background: white;
	border: none;
	border-radius: 0.5em;
	padding: 10px 10px 6px 10px;
	cursor: pointer;
}

@media (max-width: 767px) {
	/* Styles for phones */
	body {
		display: flex;
		flex-direction: column;
		font-size: 18px;
	}

	.modular-flex {
        display: block;
    }

	header {
		width: 100%;

		display: flex;
		justify-content: flex-start;
		margin-right: 0;
	}

	#profile {
		max-width: 85vw;
	}
	
	/*suggestions from chatGPT */

	img, video {
        max-width: 100%;
        height: auto;
    }

    button, a {
        min-width: 48px; /* adjust as needed */
        min-height: 48px; /* adjust as needed */
    }

    .element {
        padding: 20px; /* adjust as needed */
        margin: 20px; /* adjust as needed */
    }
	
  }

@keyframes gradientAnimation {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@media (max-width: 1000px) and (min-width: 768px) {
	/* header {
		transform: translateX(-90%);
	} */

	header div a h1 {
		text-align: center;
	}

	header nav {
		align-items: flex-start;
	}

	nav ul {
		width: 100%;
	}

	main {
		width: 100%;
	}

	/* header:hover,
	main:hover + header {
		transform: translateX(0);
	} */
}


