body {
  margin: 0 auto;
  padding: 24px;
  font-size: 18px;
  font-family: 'Work Sans', sans-serif;
  color: #002213;
  background: radial-gradient(50% 50% at 50% 50%, #F4FFEF 0%, #F0FFE9 100%);
}

body p {
  margin: 0;
  color: #2f3f38;
}

body a {
  color: #00160C;
}

body img {
  width: 100%;
}

body iframe {
  width: 100%;
  height: 200px;
  margin: 24px auto;
}

body header div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body header div div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

body header div div h1 {
  padding: 0;
  margin: 0;
  font-size: 1.75em;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  -ms-grid-column-align: start;
      justify-self: start;
}

body header div div h1 a {
  color: #00160C;
  text-decoration: none;
}

body header div div p {
  margin: .25em 0px;
  font-size: .7em;
}

body header svg {
  margin: 0;
  padding: 0;
}

body header svg path {
  fill: #002515;
}

body header nav {
  position: fixed;
  right: 0;
  top: 0;
  background: #F9FFF6;
  height: 100vh;
  width: 50%;
  z-index: 99;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform .5s ease-in-out;
  transition: -webkit-transform .5s ease-in-out;
  transition: transform .5s ease-in-out;
  transition: transform .5s ease-in-out, -webkit-transform .5s ease-in-out;
}

body header nav ul {
  list-style-type: none;
  padding: 0;
  margin-top: 8em;
}

body header nav ul a {
  color: black;
  padding: .75em 2em;
  display: block;
  width: 100%;
  text-decoration: none;
}

body header nav ul a:hover {
  background: #ebebeb;
}

body header nav .close {
  display: block;
  float: right;
  margin: 2em;
  width: 2.5em;
}

body h1 {
  margin-bottom: 12px;
}

body section h1 {
  font-size: 2em;
}

body section h2 {
  font-weight: 600;
}

body section.hero {
  padding: 2em 0;
  -webkit-animation: moveDown 1s ease-in-out forwards;
          animation: moveDown 1s ease-in-out forwards;
  opacity: 0;
}

body section.hero h1 {
  font-size: 30px;
}

body section.hero p {
  font-size: 2.5em;
  font-weight: 500;
  color: #00160C;
}

body section.hero p span {
  text-decoration: underline;
  font-weight: 700;
}

body section.hero svg {
  display: block;
  margin: 1.5em auto;
  animation: moveArrow 1s alternate-reverse infinite;
}

body section.bio img {
  width: 100%;
  border-radius: 18px;
}

body section.project-hero {
  padding: 4em 0;
}

body section.project-hero .sub-title {
  padding-top: 0;
  font-size: 1.25em;
}

body section.project-hero .hero-img {
  width: 18.5em;
  margin: 0 auto;
  border-radius: .5em;
}

body section.project-hero h1.title {
  padding-top: 0;
  margin-top: .5em;
  font-size: 3em;
  font-weight: 800;
}

body section.project-hero h2 {
  font-size: 2.5em;
  margin-bottom: .5em;
}

body section.project-hero hr {
  margin: 3em;
  height: 2px;
  color: #00160C;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer {
  padding-top: 3em;
}

footer h1 {
  font-size: 1em;
}

footer span:hover {
  cursor: pointer;
}

footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0;
  padding-top: 12px;
  list-style: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer ul li {
  margin: 0 1em;
}

.xp-studio-what {
  margin-top: 2em;
  padding: .5em;
  padding-bottom: 0;
  border-radius: 10px;
  background: #acddac;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.xp-studio-what .xp-inter {
  display: block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.xp-studio-what div {
  padding-bottom: 1em;
}

.xp-studio-what span {
  padding: 0;
}

.xp-studio-what h1 {
  font-size: .8em;
}

.closed {
  display: none;
}

.column {
  padding: 1em;
}

span.material-icons {
  margin-left: 6px;
  padding: 9px;
  border-radius: 24px;
  -webkit-transition: .25s;
  transition: .25s;
}

span.material-icons:hover {
  background-color: #b2d6bd;
}

.open-nav {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

@media (max-width: 1180px) {
  body {
    font-size: 1.5em;
  }
  .hero-img {
    width: 100%;
  }
}

@-webkit-keyframes moveArrow {
  from {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes moveArrow {
  from {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes moveDown {
  from {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes moveDown {
  from {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
/*# sourceMappingURL=main.css.map */