body {
    background: linear-gradient(180deg, #008559 0%, #00593C 200%);
}

header h1,p {
    color: #F0FFF8;
}

header img {
    border-radius: 100%;
    max-width: 100px;
}

section {
    max-width:  1000px;
    margin: 0 auto;
}

section h1 {
    color: #8FDEBA;
    font-size: 5em;
}

section p {
    color: #CAFFE7;
}

section .hero {
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 90px;
line-height: 100px;
}

section .hero span {
    text-decoration: underline;
    text-underline-offset: 4px;
}