body {
    background: linear-gradient(180deg, #008559 0%, #002e1f 200%);
    font-size: 24px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #CAFFE7;
}

header {
    margin: 27px 37px 3em 37px;
    border-radius: 15px;
    background: #115134;
    max-height: 60px;
    position: sticky;
    top: 27px;
    display: flex;
}

header h1 {
    color: #F0FFF8;
    font-size: 1em;
}

header p {
    color: #F0FFF8;
    font-size: 1em;
}

header ol,ul {
    list-style: none;
}

header h1 {
    font-size: 1.5em;
}

header img {
    border-radius: 100%;
    max-width: 100px;
    height: 100%;
}

header div,ul {
    display: flex;
}

div {
    max-width: 90vw;
    margin: 0 auto;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column-left {
    float: left;
    width: 30%;
}

#content-nav {
    position: sticky;
    top: 3em;
}

.column-right {
    float: left;
    width: 70%;
    overflow: hidden;
}

section {
    max-width:  1000px;
    margin: 0 auto;
}

section h1 {
    color: #8FDEBA;
    font-size: 1.5em;
    margin: 0;
}

section h2 {
    color: #CAFFE7;
    font-size: 4em;
    margin: 0;
    margin-top: 5px;
    line-height: .9em;
}

section p {
    color: #CAFFE7;
    margin: 1em 0;
}

section .hero {
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 4em;
line-height: 100px;
}

section .hero span {
    text-decoration: #115134 wavy underline;
    text-underline-offset: 2px;
}