body {
    background: linear-gradient(180deg, #008559 0%, #006845 200%);
    font-size: 20px;
    font-family: 'Work Sans', sans-serif;
    color: #CAFFE7;
    margin-top: 0em;
}

header {
    margin: 27px 37px;
    border-radius: 15px;
    background: #115134;
    max-height: 60px;
    position: sticky;
    top: 27px;
    box-shadow: 0px 4px 6px rgba(204, 204, 204, 0.25), inset -2px 2px 7px rgba(4, 2, 0, 0.5);
}

header p {
    color: #F0FFF8;
    font-size: 1em;
}

header ol,ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header h1 a {
    color: #F0FFF8;
    position: absolute;
    font-size: .50em;
    padding: 0;
    margin: 0;
    padding-left: 4.2em;
    top: 10px;
    font-weight: 650;
    max-height: 40px;
    line-height: 40px;
    letter-spacing: .25px;
}

header img {
    top: -8px;
    position: absolute;
    margin-left: 1em;
    border-radius: 100%;
    max-width: 200px;
    height: 135%;
}

header a:link {
    color: #CAFFE7;
    text-decoration: none;
}

header a:visited {
    color: #CAFFE7;
    text-decoration: none;
}

header a li:hover {
    background-color: #006e4a;
    border-radius: 25px;
    transition: .5s;
}

header div,ul {
    display: flex;
    justify-content: start;
    max-height: 40px;
    margin: 0;
    padding: 0;
}

header li {
    top: 5px;
    padding-top: 4px;
    padding-right: 12px;
    padding-left: 12px;
    font-size: 1em;
}

header h1 {
    margin: 0;
    padding: 0;
}


div .row {
    max-width: 90vw;
    margin: 0 auto;
}

.column-left {
    float: left;
    width: 30%;
}

#content-nav {
    position: sticky;
    top: 7em;
}

.column-right {
    float: left;
    width: 70%;
    overflow: hidden;
}

section {
    max-width:  1050px;
    margin: 0 auto;
}

section div {
    padding-top: 3em;
}

.row .project-hero {
    max-width: 2400px;
}

section.hero {
    margin-top: 4em;

}

section.bio img {
    height: 90%;
    object-fit: cover;
    margin: 30px -20px;
}

section ul {
    display: block;
}

section#content-nav li {
    color: #002e1f;
    padding: 1em;
    margin: 10spx;
}

section#content-nav li:hover{
    background-color: #00bd7e60;
    border-radius: 15px;
    padding: 1em;
    margin: 3px;
}


section #content-nav li:after {
    color: #002e1f;
}

section h1 {
    color: #8FDEBA;
    font-size: 1.5em;
    margin: 0;
    padding-bottom: .5em;
    font-weight: 600;
}

section h2 {
    color: #CAFFE7;
    font-size: 6em;
    margin: 0;
    margin-top: 5px;
    line-height: .9em;
}

section p {
    color: #CAFFE7;
    margin: 1em 0;
}

section p:active {
    transition-property: all;
}

section img {
    max-width: 100%;
    border-radius: 20px;
}

section .hero {
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 5em;
line-height: 120px;
}

section .hero span {
    text-decoration: #115134 wavy underline;
    text-underline-offset: 2px;
}

p.hero {
    padding: 0;
    margin: 0;
}