* {
	box-sizing: border-box;
}

/* For WebKit browsers (e.g., Chrome, Safari) */
::-webkit-scrollbar {
	width: 10px; /* Adjust the width as needed */
	background-color: rgba(0, 0, 0, 0); /* Background color of the scrollbar */
}

::-webkit-scrollbar-thumb {
	background-color: rgba(255, 255, 255, 0.5); /* Color of the scrollbar thumb */
}

html, body {
    min-height:100%;
}

body {
    height:100vh;
}

body {
    display: flex;
    flex-direction: row;
    font-family: Inter;
    margin: 0;
}

header {
    width: 20%;
    max-width: 300px;
    min-width: 200px;
    padding: 1em;
    background-color: #D1E6FF;
}

header h1 {
    font-size: 1.25em;
    font-weight: 600;
}

main {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main section {
    margin: 1em 1.5em;
}

object {
    width: 100%;
    height: fit-content;
}

section textarea {
    width: 100%;
    border-radius: .5em;
    padding: .5em;
}

.entry-history {
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.existing-entry {
    display: flex;
    flex-direction: column;
    gap: .25em;
    height: fit-content;
}

.existing-entry blockquote {
    margin: .5em 0;
    padding: 0 1.5em;
    border-left: 1px solid #000000;
}

.entry-details-default {
    display: flex;
    flex-direction: row;
    font-size: 0.875em;
    align-items: baseline;
    gap: .5em;
    font-weight: 300;
}

.entry-details-default svg {
    width: auto;
    height: 14px;
    margin: auto 0;
}

.entry-container-date {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: .35em;
}

.entry-container-date p {
    margin: 0;
}

.tags-container {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: .5em;
}

.tag-default {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .15em;
    padding: .125em .25em;
    border-radius: .5em;
    background-color: rgb(255, 255, 191);
}

.tag-default p {
    margin: 0;
}

.tag-page {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .15em;
    padding: .125em .25em;
    border-radius: .5em;
    background-color: rgb(255, 255, 191);
}

.tag-page p {
    margin: 0;

}